<header class="main-header">
  <h1 class="main-app-logo">
    <a class="main-app-anchor" href="/"><%= appName %></a>
  </h1>
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li id="categories-nav-item"><a id="categories-anchor">Categories</a></li>
      <li id="stars-nav-item"><a id="stars-anchor" href="/stars">Stars</a></li>
      <li id="tags-nav-item"><a id="tags-anchor" href="/tags">Tags</a></li>
      <li id="favorites-nav-item">
        <a id="favorites-anchor" href="/favorites">Favorites</a>
      </li>
      <li id="history-nav-item">
        <a id="history-anchor" href="/history">History</a>
      </li>
    </ul>
  </nav>
</header>
<link rel="stylesheet" type="text/css" href="/public/header.css" />
