<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %> 
    <title><%= appName %> | History</title>
  </head>
  <body>
    <div class="page-container">
      <h1>History</h1>
    </div>
  </body>
</html>
