<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <title><%= appName %> | Stars</title>
  </head>
  <body>
    <div class="page-container">
      <%- include("partials/header") %>
      <h1>Stars</h1>
    </div>
  </body>
</html>
