.video-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-auto-rows: max-content;
}

.video-thumbnail {
  transition: all 0.5s;
}

.video-thumbnail-image {
  width: 100%;
}
